## ANSWER-3.2-The highest number of rapes incidents are happened IN WEST BENGAL IN MURSHIDABAD DISTRICT IN 2009 i.e 568
### sql querry SELECT * FROM WOMEN ORDER BY RAPE DESC;

## ANSWER-3.5- The highest no. of dacoity incidents happened in Gujrat(Dahod district) in 2004 are 29.
### sql querry-select * from omdb.tribe order by dacoity desc
## The highest no. of robbery incidents happened in Gujrat(Dahod district) in 2001 are 32
### sql querry-select * from omdb.tribe order by robbry desc

## ANSWER-3.6-sql querry to find the districts in which all the lowest no. of murder happened-select * from tribe where murder = 0;

## ANSWER-3.7-sql querry to find the number of murder in ascending order in district and yearwise-select district, year, murder from tribe order by murder asc;

## ANSWER-3.8.2-sql querry to in which state/ut, district, year maximum murder happened-select state,district,year,max(murder) from crime group by state;

## ANSWER-3.8.3-Store the above date in a data frame

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\OM RAJ PANDEY\Desktop\desencending murder.csv")
df.head()

           state district  saal  murder  attempt to murder  rape   num
0  UTTAR PRADESH    TOTAL  2001    7601               7964  1958   651
1  UTTAR PRADESH    TOTAL  2002    6825               6283  1415  1367
2  UTTAR PRADESH    TOTAL  2004    6126               5580  1397  2825
3  UTTAR PRADESH    TOTAL  2005    5711               5637  1217  3558
4  UTTAR PRADESH    TOTAL  2006    5480               4997  1314  4298

## In the above data frame which districts are appear 3 or more then 3 times their data

In [6]:
df=pd.read_csv(r"C:\Users\OM RAJ PANDEY\Desktop\count district.csv")
df.head(100)

            district  count(district)        STATE/UT  Unnamed: 3
0           ADILABAD               12  ANDHRA PRADESH         NaN
1          ANANTAPUR               12  ANDHRA PRADESH         NaN
2           CHITTOOR               12  ANDHRA PRADESH         NaN
3           CUDDAPAH               12  ANDHRA PRADESH         NaN
4      EAST GODAVARI               12  ANDHRA PRADESH         NaN
..               ...              ...             ...         ...
95  MUZAFFARPUR RLY.               12           BIHAR         NaN
96           NALANDA               12           BIHAR         NaN
97         NAUGACHIA               12           BIHAR         NaN
98           NAWADAH               12           BIHAR         NaN
99             PATNA               12           BIHAR         NaN

[100 rows x 4 columns]