In [ ]:
"C:\Users\OM RAJ PANDEY\Documents\YEAR ON YEAR VS TOTAL CRIME RATE.xlsx"

In [2]:
#Importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df=pd.read_excel(r"C:\Users\OM RAJ PANDEY\Documents\YEAR ON YEAR VS TOTAL CRIME RATE.xlsx")
df.head(421)

              STATE/UT  YEAR  TOTAL IPC CRIMES
0       ANDHRA PRADESH  2001            130089
1    ARUNACHAL PRADESH  2001              2342
2                ASSAM  2001             36877
3                BIHAR  2001             88432
4         CHHATTISGARH  2001             38460
..                 ...   ...               ...
415       D & N HAVELI  2012               318
416        DAMAN & DIU  2012               239
417           DELHI UT  2012             54287
418        LAKSHADWEEP  2012                60
419         PUDUCHERRY  2012              4281

[420 rows x 3 columns]

## ANALYSIS OF YEAR ON YEAR TOTAL CRIME RATE 
### In 2001 total crime incidents are 1769308 in 2002 it is increased by 11022 and reached to 1780330. In 2003 this value decrease by 64210 and reached to 1716120. In 2004 this value increased by 115890 and reached to 1832010. In 2005 this value decreased by 9408 and reached to 1822602. In 2006 this value increased by 55691 and reached to 1878293. In 2007 this value increased by 111380 and reached to 1989673. In 2008 this value increased by 103706 and reached to 2093379. In 2009 this value increased by 27966 and reached 2121345. In 2010 this value increased by 103486 and reached to 2224831. In 2011 this value increased by 100744 and reached 2325575.
### In these ten years we see only in two years i.e 2003 and 2005 the trend is decreasing otherwise there is increasin trend.